<!DOCTYPE html>
<html id="responsive-news" class="orb-js bbcdotcom ads-enabled id-svg ctm ff flex bbcdotcom-init bbcdotcom-responsive bbcdotcom-async bbcdotcom-ads-enabled bbcdotcom-service-news se-no-touch grunticon bbcdotcom-group-4" lang="en">
<head prefix="og: http://ogp.me/ns#">
<body id="asset-type-idx" class="bbccom_leaderboard bbccom_mpu_bottom device--group4 device--wide no-touch bbccom_mpu_bottom_small">
<div id="edr_survey"></div>
<iframe id="bfc4b839-82ac-5687-a40d-f97166b07e86" title="empty" style="display: none;" src="http://s.effectivemeasure.net/html/frame_2.3.6.html" width="0" height="0">
<div class="direction">
<div id="bbccom_interstitial_ad" class="bbccom_display_none"></div>
<div id="bbccom_interstitial" class="bbccom_display_none" data-google-query-id="CJSX6OXyv9MCFa8D0wod4F0Jew">
<div id="bbccom_wallpaper_ad" class="bbccom_display_none"></div>
<div id="bbccom_wallpaper" class="bbccom_display_none">
<script type="text/javascript">
<script id="gnlAdsEnabled" class="bbccom_display_none">
<script id="gnlAnalyticsEnabled" class="bbccom_display_none">
<div id="blq-global">
<script id="blq-bbccookies-tmpl" type="text/html">
<script type="text/javascript">
<noscript><p style="position: absolute; top: -999em"><img src="//sa.bbc.co.uk/bbc/bbc/s?name=news.business.page&amp;ml_name&#x3D;webmodule&amp;ml_version&#x3D;63&amp;blq_js_enabled=0&blq_s=4d&blq_r=2.7&blq_v=default&blq_e=pal&cps_asset_id=10059368&page_type=Index&section=%2Fnews%2Fbusiness&first_pub=2010-03-09T09%3A46%3A51%2B00%3A00&last_editorial_update=2017-04-25T15%3A10%3A03%2B00%3A00&curie=b5c53243-711d-e059-e040-850a02846523%2Fmobile%2Finternational&for_nation=ae&app_version=1.188.0&bbc_site=news&pal_route=asset&app_type=responsive&language=en-GB&pal_webapp=tabloid&prod_name=news&app_name=news" height="1" width="1" alt=""></p></noscript>
<script type="text/javascript">
<header id="orb-banner" role="banner">
<div id="orb-modules">
<div id="site-container">
<div class="site-brand site-brand--height" role="banner" aria-label="News">
<div id="bbccom_leaderboard_1_2_3_4" class="bbccom_slot bbccom_standard_slot bbccom_visible" aria-hidden="true">
<div id="bbccom_leaderboard" class="bbccom_advert" data-google-query-id="CJCX6OXyv9MCFa8D0wod4F0Jew">
<script type="text/javascript">
<a class="bbccom_text" href="http://www.bbc.com/privacy/cookies/international/">Advertisement</a>
<div id="google_ads_iframe_/4817/bbccom.live.site.news/news_business_content_0__container__" style="border: 0pt none;">
<iframe id="google_ads_iframe_/4817/bbccom.live.site.news/news_business_content_0" title="3rd party ad content" name="google_ads_iframe_/4817/bbccom.live.site.news/news_business_content_0" scrolling="no" marginwidth="0" marginheight="0" style="border: 0px none; vertical-align: bottom;" srcdoc="" data-integralas-id-129fd8aa-9ad6-b2f1-450f-eaf139faf2de="" width="728" height="90" frameborder="0">
<!DOCTYPE html>
<html>
<head>
<body leftmargin="0" topmargin="0" style="background:transparent; line-height:0" marginwidth="0" marginheight="0">
<div id="google_image_div" style="overflow:hidden; position:absolute">
<script>
<a id="aw0" target="_blank" href="http://googleads.g.doubleclick.net/pcs/click?xai=AKAOjsu5Cs7xA7H74NCw4LlegrY7_vGULHkKV9kKBX5vLuP7xTJyg6PWhjhNTP6vwcvbD0um4ccWFhzRAiftB1MVIHTf4dDLXoYTaBw5_jMuCFFXgNPyeE0-FgN99IHCm3y11jvLcLeIGO4u1d8S-Rw1m6AgpXzuiNxVrgQt5r8naJ1YnAo9v9-abzV59miZh1ENtiar_VE_JEBHc7kRKHYcOa-rQB5cSCoFs-hJ8T0rGR4qxNDKpRyterxewOU9ZoBLCUSqQUWuGQ&sig=Cg0ArKJSzJnfnWypCcjn&adurl=http://www.bbc.co.uk/news/world-radio-and-tv-39406332%3Focid%3Dgnl.display.banner.bbc-gnl..trust_&nm=6&nx=284&ny=-15&mb=2&clkt=195" onfocus="ss('aw0')" onmousedown="st('aw0')" onmouseover="ss('aw0')" onclick="ha('aw0')">
<img class="img_ad" src="https://tpc.googlesyndication.com/simgad/3294615781298971648" alt="" width="728" border="0" height="90">
</a>
</div>
<script>
<script>
<script src="https://tpc.googlesyndication.com/pagead/js/r20170419/r20110914/activeview/osd_listener.js">
<script type="text/javascript">
<img src="//www.google.com/ads/measurement/l?ebcid=ALh7CaRxhFcJrS2fd-BeUTIoJbtgO6KryozbxnDFd4zpSD2P3sGKyfFl4fWoeZSWByt1qiLtRjM7U9Pin6Jvk56X6xfCkfsn2Q" style="display:none;">
<script>
<script>
<iframe style="width: 0px; height: 0px; border: 0px none; display: none;" src="javascript:false">
<script id="ias-381689096">
<iframe style="width: 0px !important; height: 0px !important; border: 0px none !important; position: absolute !important; top: -10000px !important; left: -10000px !important;">
<iframe style="display: none !important;" name="hpif">
</body>
</html>
</iframe>
</div>
</div>
</div>
<div id="breaking-news-container" data-polling-url="http://polling.bbc.co.uk/news/latest_breaking_news?audience=International" aria-live="polite"></div>
<div id="page" class="configurable index " data-story-id="business">
<div id="core-navigation" class="navigation--footer">
<div id="comp-pattern-library-2" class="distinct-component-group ">
</div>
</div>
<div id="orb-footer" class="orb-footer orb-footer-grey b-footer--grey--white orb-location-w">
<div class="bbccom_display_none">
<script id="orb-js-script" type="text/javascript" data-assetpath="http://static.bbci.co.uk/frameworks/barlesque/3.20.5/orb/4/" src="http://static.bbci.co.uk/frameworks/barlesque/3.20.5/orb/4/script/orb.min.js">
<script type="text/javascript">
<script type="text/javascript">
<script type="text/javascript">
<script type="text/javascript">
<script type="text/javascript">
</div>
<script async="async" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
<script async="async" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js">
<script>
<script>
<script type="text/javascript">
<script>
<div class="igtranslator-main-div" style="display: none; width: 0px; height: 0px;">
<div class="igtranslator-activator-icon bounceIn" style="background-image: url("resource://jid1-dgnibwqga0sibw-at-jetpack/data/icons/home.png"); display: none;" title="Click to Show Translation"></div>
<script language="javascript" type="text/javascript" src="//static.chartbeat.com/js/chartbeat.js">
<div class="kxhead" data-id="JZTWpGsM" style="display:none !important;">
<iframe id="google_osd_static_frame_3597157201285" name="google_osd_static_frame" style="display: none; width: 0px; height: 0px;">
</body>
<iframe id="kx-proxy-JZTWpGsM" src="http://cdn.krxd.net/partnerjs/xdi/proxy.3d2100fd7107262ecb55ce6847f01fa5.html#!kxcid=JZTWpGsM&kxt=http%3A%2F%2Fwww.bbc.com&kxcl=cdn&kxp=" style="display: none; visibility: hidden; height: 0; width: 0;">
</html>
