<html> 
<head>
	<title>Home</title>
</head>
<body>
<h2>Testing BBC</h2>


<iframe  width="728" height="90" frameborder="1">
    

   <a  target="_blank" href="http://googleads.g.doubleclick.net/pcs/click?xai=AKAOjsu5Cs7xA7H74NCw4LlegrY7_vGULHkKV9kKBX5vLuP7xTJyg6PWhjhNTP6vwcvbD0um4ccWFhzRAiftB1MVIHTf4dDLXoYTaBw5_jMuCFFXgNPyeE0-FgN99IHCm3y11jvLcLeIGO4u1d8S-Rw1m6AgpXzuiNxVrgQt5r8naJ1YnAo9v9-abzV59miZh1ENtiar_VE_JEBHc7kRKHYcOa-rQB5cSCoFs-hJ8T0rGR4qxNDKpRyterxewOU9ZoBLCUSqQUWuGQ&sig=Cg0ArKJSzJnfnWypCcjn&adurl=http://www.bbc.co.uk/news/world-radio-and-tv-39406332%3Focid%3Dgnl.display.banner.bbc-gnl..trust_&nm=6&nx=284&ny=-15&mb=2&clkt=195">
    <img  src="https://tpc.googlesyndication.com/simgad/3294615781298971648" alt="" width="728" border="0" height="90">
    </a>

    <img src="//www.google.com/ads/measurement/l?ebcid=ALh7CaRxhFcJrS2fd-BeUTIoJbtgO6KryozbxnDFd4zpSD2P3sGKyfFl4fWoeZSWByt1qiLtRjM7U9Pin6Jvk56X6xfCkfsn2Q" >

</iframe>



</body>
</html>